# ARQUIVOS E PASTAS IGNORADOS PELO GIT

# 1. Dependências e Instalação
node_modules/
jspm_packages/
lib-cov
coverage
.nyc_output
bower_components
build/Release

# 2. Variáveis de Ambiente e Arquivos de Configuração
# ESTES SÃO CRUCIAIS PARA SEGURANÇA NO DEPLOY!
.env
config.env
.env.*
!.env.example

# 3. Logs e Dados de Runtime
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.node_repl_history
pids
*.pid
*.seed
*.pid.lock

# 4. Compilação e Cache (Build)
/dist
.cache
.parcel-cache
.next
out
.nuxt
.temp
.cache

# 5. Sistema Operacional e Editores
.DS_Store
Thumbs.db
.lock-wscript
.npm
.eslintcache
.stylelintcache
.vscode-test
.vscode/

# 6. Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Outros
*.tgz
.yarn-integrity