NODE_ENV=development
PORT=8000
USER=
DATABASE=mongodb+srv://seunome:<db_password>@cluster0.mongodb.net/natours
DATABASE_PASSWORD=
JWT_SECRET=sua-chave-secreta-aqui
JWT_EXPIRES=1d
JWT_EXPIRES_COOKIE=90
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
SENDEMAIL_PASSWORD=
SENDEMAIL_HOST=
SENDEMAIL_PORT=
SENDEMAIL_USERNAME=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=