doctype html
html(lang='en')
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

        body(data-alert=alert)
            //HEADER
            include _header
            //CONTENT
            block content

            //FOOTER
            include _footer    

                // Carrega o bundle compilado (contém index.js, login, updateSettings, etc.)
                script(src="https://js.stripe.com/v3/")
                
                //sempre vem por ultimo, empacotador:
                script(src='/js/bundle.js')



