extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Esqueceu a Senha?
            
            // CLASSE: .form--forgot-password
            form.form.form--forgot-password
                .form__group
                    label.form__label(for='email') Seu endereço de e-mail
                    // ID: #email
                    input#email.form__input(type='email', placeholder='seu@exemplo.com', required)
                .form__group
                    // CLASSE: .btn--forgot-password
                    button.btn.btn--green.btn--forgot-password Enviar link de redefinição