extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Redefinir Senha
            // O token é passado como um campo oculto
            input#token(type='hidden', value=token) 

            form.form.form--reset-password
                .form__group
                    label.form__label(for='password') Nova Senha
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')

                .form__group.ma-bt-md
                    label.form__label(for='password-confirm') Confirme a Nova Senha
                    input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')

                .form__group
                    button.btn.btn--green.btn--reset-password(type='submit') Redefinir Senha